:root {
    --main-theme: #fc642b;
    --main-theme-2: #b99100;
    --main-theme-3: #f73333;
    --container: ghostwhite;
    --titles: #4f4f4f;
    --para-color: #4f4f4f;
    --generic: ghostwhite;
}