
/* content containers in About, Donations, Adoptions */
.parent {
    background-color: var(--grey);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    max-width: 1500px;
  }
  
@media only screen and (max-width: 1111px) {
    .parent {
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0.2rem;
    }
}


.child {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1111px) {
    .child {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
}

.simplechild {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.childnamebox {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 0%;
    border: solid black 0.5px;


}


/* content containers in Dog Album */

.story-container-dog-album {
    background-color: var(--grey);
    margin: auto;
    padding: 20px;
    text-align: center;
    max-width: 1500px;
  }
  
@media only screen and (max-width: 600px) {
    .story-container-dog-album {
    margin: 0px;
    padding: 0px;
    }
}

.image-container-dog-album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 40%));
    grid-gap: 10px;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .image-container-dog-album {
    display: block;
    }
}

.image-dog-album {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.notice-board{
    margin:auto;
    display:flex; 
    overflow:hidden; 
    width: 100%; 
    justify-content: center; 
    margin:auto;
}

.notice-board-image{
    flex:1;
}

.notice-board .notice-board-image img{
    width:100%; 
    height:100%; 
    object-fit: cover;
}

.notice-board .notice-board-textarea{
    box-sizing: border-box; 
    flex:1;  
    background-color: var(--main-theme); 
    padding:60px;
}

.notice-board .notice-board-textarea h2{
    text-align:left; 
    color:#4f4f4f;  
    text-transform: uppercase;
}

.notice-board .notice-board-textarea p{
    font-weight:800; 
    color:white;
}
@media only screen and (max-width: 900px) {
    .notice-board {
        flex-direction:column;
    }
    .notice-board .notice-board-textarea{
        padding:20px;
    }

    .notice-board .notice-board-image img{
        height:65vh;
    }

}

/* Buttons */

.button-hover:hover {
    background-color: var(--main-theme);
    cursor: pointer;
}

.button-hover:hover h3{
    color:white;
}



@media only screen and (max-width: 600px) {
    .button-hover {
        background-color: var(--main-theme);
    }
    .button-hover h3{
        color:white;
    }

    .button-hover h2{
        color:white;
    }
}

@media only screen and (max-width: 600px) {
    .adoption-expand-button {
        padding: 10px;
    }
    
    #show-all-dogs-btn {
        padding: 10px;
    }
    
    #show-all-adoptions-btn{
        padding: 10px;
    }
}

.year-heading:hover {
    background-color: var(--main-theme);
    cursor: pointer;
}

.button-hover:hover h2{
    color:white;
}

.button-hover:hover h3{
    color:white;
}

.month-container{
    margin:25px;
    text-align: center;
    padding: 10px;
}


@media only screen and (max-width: 600px) {
    .month-container{
        margin: 0 auto
    } 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns:none;
    }
}

.month-container:hover {
    background-color: var(--main-theme);
    cursor: pointer;
}

.button-box:hover h2{
    color:white;
}

@media only screen and (max-width: 600px) {
    .button-box {
        background-color: var(--main-theme);
        padding:10px;
    }

    .button-box h2{
        color:white;
    }
}



.month-container:hover a h3{
    color:white;
}