
/* Dog Gallery */

/*responsible for the size of the entire wrapper*/
/* controls margins between boxes*/
.wrapper {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(auto, auto);
}


@media only screen and (max-width: 600px) {
  .wrapper {
    grid-gap:0px;
    padding:5%;
  }
}


/*controls the dog card. Add a dog outline as a background image to make loading look better and in case links are broken have a substitute in place as a check in the template.*/
.dog {
  background-color: var(--container);
  color: rgb(10, 10, 46);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .dog {
    padding: 0px;
    padding-top: 5px;
  }
}

.virtual-adopter-block {
  font-family: 'Sofia Sans', sans-serif;
  position: relative;
  bottom: 72px;
  text-align: center;
  background-color: #90760093;
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 18px;
  margin-bottom: -47px;
  border: solid black 2px;
  border-left: none;
  border-right: none;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .virtual-adopter-block{
    background-color: #72727296;
  }
}
.dog p{
  line-height: 150%;
}
.dog:hover{
  background-color: var(--main-theme-2);
  cursor: pointer;
  }

.dog:hover h2{
  color: white;
  font-weight:bold;
}

.dog:hover p{
  color: white;
}

.dog .virtual-adopter-block {
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.dog:hover .virtual-adopter-block {
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .dog{
    margin-top:10px;
  }

  .dog h1{
    font-size: 20px;
  }

  .dog:nth-of-type(odd) {
    background-color: var(--main-theme);
    cursor: pointer;
  }

  .dog:nth-of-type(odd):hover {
    background-color: var(--main-theme);
    cursor: pointer;
  }
  
  .dog:nth-of-type(odd) h2{
    color: white;
    font-weight:bold;
  }
  
  .dog:nth-of-type(odd) p{
    color: white;
    font-weight:bold;
  }

  .dog:nth-of-type(even):hover p{
    color: var(--para-color);
    font-weight:bold;
  }

  .dog:nth-of-type(even):hover h2{
    color: var(--para-color);
    font-weight:bold;
  }

  .dog:nth-of-type(even) {
    background-color: var(--generic);
    cursor: pointer;
  }

  .dog:nth-of-type(even):hover {
    background-color: var(--generic);
    cursor: pointer;
  }

  .dog:nth-of-type(even) h2{
    font-weight:bold;
  }
  
  .dog:nth-of-type(even) p{
    font-weight:bold;
  }

  .dog .virtual-adopter-block {
    opacity: 1;
  }
  
  .dog:hover .virtual-adopter-block {
    display:block;
    opacity: 1;
  }
}