@media only screen and (max-width: 800px) {
    #banner {
        display: none;
    }
}


/* image resizing */
#sizingGallery {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1111px) {
    #sizingGallery {
        max-width: 100%;
        height: auto;
    }
}

#sizingAdoptions {
    max-width: 400px;
    height: auto;

}

@media only screen and (max-width: 1111px) {
    #sizingAdoptions {
        width: 90%;
    }
}

#sizingDonations {
    width: 350px;
    height: auto;
}

@media only screen and (max-width: 1111px) {
    #sizingDonations {
        width: 100%;
    }
}

#sizingPayPal {
    width: 250px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #sizingPayPal {
        width: 200px;
    }
}

#sizingDogAlbum {
    max-width: 400px;
    height: auto;
}

#sizingNoticeBoard{ 
    max-width: 600px;
    height: auto;
    float: left; 
    padding:25px;
    padding-top:15px;

}   

@media only screen and (max-width: 600px) {
    #sizingNoticeBoard {
        max-width: 150px;
        height: auto;
        margin-left:15px;
        margin-right:5px;
        margin-bottom:5px;
        margin-top:20px;
        padding:3px;
    }
}

#sizingDonationsSlide{ 
    max-width: 35%;
    height: auto;
    float: left; 
    padding:25px;
    padding-top:15px;

}   

@media only screen and (max-width: 600px) {
    #sizingDonationsSlide {
        max-width: 150px;
        max-height:150px;
        height: auto;
        margin-left:15px;
        margin-right:5px;
        margin-bottom:5px;
        margin-top:20px;
        padding:3px
    }
}

#sizingAdoptedPuppy{
    width: 50%;
    padding:10px;
}