@media only screen and (max-width: 1111px) {
    #banner {
        display: none;
    }
}


/* image resizing */
#sizingGallery {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1111px) {
    #sizingGallery {
        max-width: 100%;
        height: auto;
    }
}

#sizingAdoptions {
    max-width: 400px;
    height: auto;

}

@media only screen and (max-width: 1111px) {
    #sizingAdoptions {
        width: 90%;
    }
}

#sizingDonations {
    width: 350px;
    height: auto;
}

@media only screen and (max-width: 1111px) {
    #sizingDonations {
        width: 100%;
    }
}

#sizingPayPal {
    width: 250px;
    height: auto;
}

@media only screen and (max-width: 1111px) {
    #sizingPayPal {
        width: 80%;
    }
}