{% load i18n %}
{% block page_content %}

<h2>{% trans "WE THANK YOU ALL FOR SUPPORTING US" %}</h2>

<div class="flex">
    <div class="flex-box-1">
    <h2>{% trans "LAST MONTH OUR DOGS RECEIVED GIFTS FROM" %}</h2>

    {% for instance in data_donations %}
      <div style="display: inline-block">
        <h4 style="padding:5px">
          {% if L == "bg" %}
            {{ instance.0 }}
          {% else %}
            {{ instance.1 }}
          {% endif %}
        </h4>
      </div>
    {% endfor %}
    </div>
    <div class="flex-box-2">
    <img src="https://cdn.discordapp.com/attachments/1103629359237050459/1119750003896889496/At_a_cute_puppy_holding_a_heart_7ec14632-938d-4939-a597-47e0c233828d.png" alt="heart image">
    </div>

      <div class="flex-box-3">
      <h2>{% trans "AND GOT SPECIAL LOVE BY THEIR VIRTUAL SPONSORS" %}</h2>
      {% for instance in data_people %}
        {% if instance.0 %}
          <div style="display: inline-block">
            <h4 style="padding:5px">
              {% if L == "bg" %}
                {{ instance.0 }}
              {% else %}
                {{ instance.1 }}
              {% endif %}
            </h4>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  
</div>
  
{% endblock %} 