{% load field_loop %}
{% load get_attribute %}
{% block page_content %}

{% for instance in content_container %}
    {% if instance.location == location and instance.visible %}
    <div class="parent" {% if instance.background_color %} style="background-color: {{ instance.background_color }};" {% endif %}>
        
        <h1 {% if instance.title_color %} style="color: {{ instance.title_color }};" {% endif %}>
            {% if L == "bg" %}
                {{ instance.section_title_bg }}
            {% else %}
                {{ instance.section_title_eng }}
            {% endif %}
        </h1>
        <br>
        {% if instance.text_position == "top" %}
            {% include "subtemplates/container_text.html" %} 
        {% endif %}

        {% for field_name in content_containter_pics %}
            {% with field=instance|getattribute:field_name %}
                {% if field %}
                <div class="child">
                    <img class="main-container-img"
                        decoding="async"
                        lazy-sizes="auto"
                        loading="lazy"
                        alt="section image"
                        src="{{ field }}"/>
                </div>
                {% endif %}
            {% endwith %}
        {% endfor %}    
        
        {% if instance.text_position == "bottom" %}
            {% include "subtemplates/container_text.html" %} 
        {% endif %}

    </div>
    <hr>
    {% endif %}
{% endfor %}

{% endblock %}