{% block page_content %}
    <div id="filtersContainer" class="display">
        <div id="formsBar">
            <div class="form-group">
                <form action="javascript:void(0)">
                {% csrf_token %}
                {{ name_filter_form }}
                </form>
            </div>
            <div class="form-group">
                <form action="" method="post">
                {% csrf_token %}
                {{ va_status_form  }}
                </form>
            </div>
            <div class="form-group">
                <form action="" method="post" >
                {% csrf_token %}
                {{ gender_filter_form  }}
                </form>
            </div>
        </div>
  </div>
{% endblock %}