{% load i18n %}

{% block page_content %}
<h2>{% trans "Last month's donations" %}</h2>
<br>
{% for donation in donation_stories  %}
  <div id="slides-container">
    <div class="slides-donations fade" style="display: flex">
      {% if donation.donation_pic_1 %}<img class="home-donations-size-img" src={{ donation.donation_pic_1 }}>{% endif %}
      {% if donation.donation_pic_2 %}<img class="home-donations-size-img" src={{ donation.donation_pic_2 }}>{% endif %}
    </div>
  </div>
{% endfor %}        
<p class="compressed-text">
    {% trans "You can see more information about last month's donations " %} <a class="hyperlink" href="/donations/history/{{ date_pk }}/">{% trans "here" %}</a>.
</p> 
<br>
<div id="dots-container" style="display: flex; justify-content: center;">
  {% comment %} JS will append slideshow dots here {% endcomment %}
</div>
{% endblock %}