{% load field_loop %}
{% block page_content %}

{% for instance in contentContainer %}
    {% if instance.fields.location == location and instance.fields.visible %}
    <div class="parent" {% if instance.fields.background_color %} style="background-color: {{ instance.fields.background_color }};" {% endif %}>
        
        <h1 {% if instance.fields.title_color %} style="color: {{ instance.fields.title_color }};" {% endif %}>
            {% if L == "bg" %}
                {{ instance.fields.section_title_bg }}
            {% else %}
                {{ instance.fields.section_title_eng }}
            {% endif %}
        </h1>

        {% if instance.fields.text_position == "top" %}
            {% include "subtemplates/mainContainerText.html" %} 
        {% endif %}

        {% for field_name in content_containter_pics %}
            {% if instance.fields|field_loop:field_name %}
            <div class="child">
                <img id="sizingAdoptions"
                    decoding="async"
                    lazy-sizes="auto"
                    loading="lazy"
                    src="{{ instance.fields|field_loop:field_name }}"/>
            </div>
            {% endif %}
        {% endfor %}
        
        {% if instance.fields.text_position == "bottom" %}
            {% include "subtemplates/mainContainerText.html" %} 
        {% endif %}

    </div>
    <hr>
    {% endif %}
{% endfor %}

{% endblock %}