{% load i18n %}
{% get_current_language as L %}
{% block page_content %}


  {% for notice in data_notice_board %}
    {% if notice.location == location and notice.visible %}
  
      <div class="notice-board">
        {% if notice.note_pic_1 %}
        <div class="notice-board-image">  
          <img alt="noticeboard picture" src={{ notice.note_pic_1 }}>
        </div>
        {% endif %}

        <div class="notice-board-textarea" >
          {% if notice.section_title_eng %}
          <h2>
            
            {% if L == "bg" %}
                {{ notice.section_title_bg }}
            {% else %}
                {{ notice.section_title_eng }}
            {% endif %}
          </h2>
          {% endif %}
          <p>
            {% if L == "bg" %}
              {{ notice.note_bg|safe }}
            {% else %}
              {{ notice.note_eng|safe }}
            {% endif %}
          </p>
        </div>

        {% if notice.note_video %}
        <div class="notice-board-image" style="flex:2">  
          <iframe width="100%" height="100%" style="object-fit: cover;" alt="noticeboard video" src={{ notice.note_video }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endif %}
      </div>
      <hr>


    {% endif %}
  {% endfor %}

{% endblock %}
