{% load i18n %}
{% get_current_language as L %}
{% block page_content %}

  {% for notice in data_notice_board %}
    {% if notice.location == location and notice.visible %}
      <article class="notice-board">
        <div>
          {% if notice.section_title_bg %}
          <h2>
            {% if L == "bg" %}
                {{ notice.section_title_bg }}
            {% else %}
                {{ notice.section_title_eng }}
            {% endif %}
          </h2>
          {% endif %}

          {% if notice.note_pic_1 %}<img class="noticeboard-size-img-one" src={{ notice.note_pic_1 }}>
            <br>
            <br>
            <br>
          {% endif %}

          {% if notice.note_pic_2 %}<img class="noticeboard-size-img-two" src={{ notice.note_pic_2 }}>{% endif %}
          <p>
            {% if L == "bg" %}
              {{ notice.note_bg|safe }}
            {% else %}
              {{ notice.note_eng|safe }}
            {% endif %}
          </p>
        </div>
      </article>
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}
