<!DOCTYPE html>
{% load i18n %}
{% get_current_language as L %}

{% block page_content %}
  <!-- Edit Expense Form -->
    <hr>

    <div class="parent">
      <div>
        <h2>{% trans "VIRTUAL ADOPTION" %}</h2>
      </div>

      {% for notice in dataNoticeBoard %} 
        {% if notice.fields.location == "Virtual" %}
        <article>
          <div ><p>
            {% if L == "bg" %}
              {{notice.fields.note_bg|safe}}
            {% else %}
              {{notice.fields.note_eng|safe}}
          {% endif %}</p>
          </div>
        </article>
        {% endif %}
    {% endfor %}
  </div>

    <div class="parent">
      <p>{% trans "To become a virtual adopter, you can set up a recurring payment equivalent to 20 EUR using PayPal or ideally Revolut due to the lack of transaction fees."%}
      {% trans "Make sure to specify the name of the dog you wish to virtually adopt!"%}
    </div>

<hr>
  <div class="parent">
    <h2>{% trans "DONATION METHODS" %}</h2>
    <p style="max-width: 300px; height: 300px; background-color: #D9D9DA" class="simplechild">{% trans "We welcome donations using the following methods below or through direct food or shelter deliveries to Bulgaria, Stambolyski, 4210, Vasil Levski 40." %}</p>

    <p class="simplechild" style="max-width: 300px; height: 300px; background-color: #D9D9DA"> IBAN: BG69 IABG 7096 1002 6438 01 
      <br> BIC: IABGBGSF
      <br> International Asset Bank
      <br> DONA DOGS
      <br>
      <br>
      <b>Revolut:</b> +359 88 4090009
    </p>

    <div>
      <form action="https://www.paypal.com/donate" method="post" target="_top" align="center" >
      <input id="sizingPayPal" type="image" src="https://pics.paypal.com/00/s/ZmJmYzIxMjItNGVmYS00ODQxLTk5M2QtMTIwY2U3MWQ4ZmQw/file.PNG" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
      <input type="hidden" name="hosted_button_id" value="CL7UWKW3PY6M4" />
      </form>
    </div>  



  </div>

  <hr>

{% endblock %}
