{% load i18n %}

{% block page_content %}

<img class="footer-img" src="https://res.cloudinary.com/dxwb5ejff/image/upload/v1671329488/Static/DogItems_se8ey3.png
" style="background-color: transparent;" crossorigin="anonymous"/>


<div style="padding:5px; width:auto; height:auto;text-align:center;">
  <h3 style="text-align:center;">
    {% trans "Follow us on " %}<a  class="hyperlink"  href="https://www.facebook.com/groups/2508791972666990/"><b>Facebook</b></a> {% trans " for up to date information!" %}
  </h3>
</div>


{% endblock %}