{% load i18n %}
{% load static %}

{% block page_content %}

<img class="footer-img" src="https://res.cloudinary.com/dxwb5ejff/image/upload/v1671329488/Static/DogItems_se8ey3.png
" style="background-color: transparent;" crossorigin="anonymous"/>

<div class="social-icons" style="display: flex; gap:40px; justify-content:center">
  <a href="https://www.facebook.com/groups/2508791972666990/" target="_blank" style="text-decoration: none; color: inherit;">
    <img style="max-width:75px" src="{% static 'images/facebook.png' %}">
  </a>    
  <a href="https://www.instagram.com/dona.dogs/" target="_blank"><img style="max-width:75px" src="{% static 'images/instagram.png' %}"></a>
</div>


{% endblock %}