<!DOCTYPE html>
{% load i18n %}
{% get_current_language as L %}
{% load static %}
{% block page_content %}
  <title lang="en">DonaDogs</title>
  <title lang="bg">ДонаДогс</title>
  <meta name="description" lang="eg" content="DonaDogs is a non-profit organization dedicated to rescuing and rehoming abandoned, abused, and neglected dogs. Our mission is to provide a loving and safe environment for dogs until they find their forever homes. Join us in our fight against animal cruelty and help us make a difference in the lives of dogs in need.">
  <meta name="description" lang="bg" content="DonaDogs е благотворителна организация за кучета, която помага за спасяване, рехабилитация и осиновяване на кучета в нужда.">


  <!-- W3 navbar sizing -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Facebook SDK -->
  <meta property="fb:app_id" content="708457490982348" />
  <!-- Google fonts - display -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  {% comment %} <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap"
        rel="stylesheet"> {% endcomment %}
  <!-- Google fonts - paras -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet" async>  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-47BM43J4MJ"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-47BM43J4MJ');
  </script>
  <meta charset="UTF-8">
  <meta property="og:url" content="https://www.donadogs.org/">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="DonaDogs">
  <meta property="og:description" content="DonaDogs is a non-profit organization dedicated to rescuing and rehoming dogs in need. Join us in our efforts to give every dog a loving home." />
  <meta property="og:description" content="DonaDogs е неправителствена организация, посветена на спасяването и намирането на домове за кучета в нужда. Присъединете се към нашите усилия да осигурим на всеки куче любящ дом." content-language="bg" />
  <meta property="og:image"
        content="https://res.cloudinary.com/dxwb5ejff/image/upload/v1668477644/Infirmary/meli_4_v9klhd.webp"/>
  <link rel="icon"
        type="image/png"
        href="https://res.cloudinary.com/dxwb5ejff/image/upload/v1668299954/Static/tiny_icon_emlpvk.webp">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  {% comment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% endcomment %}
  {% comment %} Compress {% endcomment %}
  <script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
  <script src="{% static 'js/transitions.js' %}"></script>

{% endblock %}
