{% load i18n %}

{% block page_content %}

<div class="flex">
<div class="flex-box-1">
  <h2>{% trans "OUR DOGS" %}</h2>  
<p style="font-weight:800; " >
    {% trans "We have " %}
    {{ count_dogs }}
    {% trans "dogs in the shelter. Last year we helped " %}
    {{ count_adopted_last_year }}
    {% trans "dogs get adopted in several countries across Europe. You can see more information about this year's adoptions here: " %}
    <a class="hyperlink" href="/adoptions/">{% trans "ADOPTIONS" %}</a>.
  </p>
  <br>
  <p style="font-weight:800; " >
    {% trans "We regularly rescue dogs that require intensive treatement. Please help us help them so that we can continue to provide treatement for any dog that needs it: " %}
    <a class="hyperlink" href="/clinic/">{% trans "CLINIC" %}</a>.
  </p>
</div>
<div class="flex-box-2">  
  <iframe width="100%" height="100%" style="object-fit: cover;" src="https://www.youtube.com/embed/89DXrCn2x6s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen loading="lazy"></iframe>
</div>
</div>
<br>
{% endblock %}