{% load i18n %}

{% block page_content %}

<h3>
    {% trans "Last year " %}
    {% if L == "bg" %}
      {{ adopted_puppy.name_bg }}
    {% else %}
      {{ adopted_puppy.name_eng }}
    {% endif %}
    {% trans " got adopted in " %}
    {% if L == "bg" %}
      {{ adopted_puppy.adoption_country_bg }}
    {% else %}
      {{ adopted_puppy.adoption_country_eng }}
    {% endif %}
  </h3>
  <br>
  <br>
  <div>
    
    <div class="notice-board">
      <div class="random-adoption-text">
        <h2>
          {% if L == "bg" %}
            {{ adopted_puppy.name_bg }}
          {% else %}
            {{ adopted_puppy.name_eng }}
          {% endif %}
        </h2>
        <p>
          {% if L == "bg" %}
            {{ adopted_puppy.story_bg|safe }}
          {% else %}
            {{ adopted_puppy.story_eng|safe }}
          {% endif %}
        </p>
      </div>
      <div class="notice-board-image random-adoption">
        <img 
            decoding="async"
            lazy-sizes="auto"
            loading="lazy"
            alt="adopted puppy image"
            src="{{ adopted_puppy.profile_pic }}"/>
      </div>
      <div class="notice-board-image random-adoption">
        <img 
            decoding="async"
            lazy-sizes="auto"
            loading="lazy"
            alt="adopted puppy image"
            src="{{ adopted_puppy.adoption_pic_after_1 }}"/>
      </div>
  
  </div>
  </div>
{% endblock %}