{% load i18n %}

{% block page_content %}

<br>
<h2> {% trans "LAST MONTH'S DONATIONS" %} </h2>
{% for donation in donation_stories  %}
  <div id="slides-container">
    <div class="slides-donations fade" style="display: flex">
      {% if donation.donation_pic_1 %}<img alt="donation img" class="home-donations-size-img" src={{ donation.donation_pic_1 }}>{% endif %}
      {% if donation.donation_pic_2 %}<img alt="donation img" class="home-donations-size-img" src={{ donation.donation_pic_2 }}>{% endif %}
    </div>
  </div>
{% endfor %}  

<div id="dots-container" style="display: flex; justify-content: center; padding:30px;">
  {% comment %} JS will append slideshow dots here {% endcomment %}
</div>

<button onclick="location.href='/donations/history/{{ date_pk }}/'" class="button" id="show-all-donations-btn">
  <h3> &#8594; {% trans "SEE MORE" %}</h3>
</button>
{% endblock %}