  {% comment %}
  <div class="parent">
    <div>
      <form action="https://www.paypal.com/donate"
            method="post"
            target="_top"
            align="center">
        <input id="sizingPayPal"
               type="image"
               src="https://pics.paypal.com/00/s/ZmJmYzIxMjItNGVmYS00ODQxLTk5M2QtMTIwY2U3MWQ4ZmQw/file.PNG"
               name="submit"
               title="PayPal - The safer, easier way to pay online!"
               alt="Donate with PayPal button"/>
        <input type="hidden" name="hosted_button_id" value="CL7UWKW3PY6M4" />
      </form>
    </div>
  </div>
  {% endcomment %}