<!DOCTYPE html>
{% extends 'common.html' %}
{% block page_content %}

{% load i18n %}
{% get_current_language as L %}

  <!-- -->
  <h1>{% trans "ABOUT US" %}</h1>
  <hr>

  {% with location="About" %}   
  {% include "subtemplates/noticeboard.html" %}     
{% endwith %}


  {% for instance in dataAbout %} 
    {% if instance.fields.location == "About" %}
  <div class="parent">

    {% if L == "bg" %}
    <h1>{{instance.fields.section_title_bg}}</h1>
    {% else %}
    <h1>{{instance.fields.section_title_eng}}</h1>
    {% endif %}

  {% if L == "bg" %}
    <div>
      <p>{{instance.fields.section_desc_bg}}</p>
    </div>
    {% else %}
    <div>
      <p>{{instance.fields.section_desc_eng}}</p>
    </div>   
  {% endif %}

    {% if instance.fields.about_pic_1 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_1}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_2 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_2}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_3 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_3}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_4 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_4}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_5 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_5}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_6 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_6}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_7 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_7}}"/> </div>
    {% endif %}
    {% if instance.fields.about_pic_8 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_8}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_9 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_9}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_10 %}
    <div class="child"> <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_10}}" /> </div>
    {% endif %}

    
  </div>
  <hr>
    {% endif %}
  {% endfor %}
  

  <!-- Edit Expense Form -->
  <div>
    <p>{% trans "You can find more information about the organisation's legal status" %}
      <a id="hyperlink" href="https://papagal.bg/eik/206978306/9119?fbclid=IwAR0X0vECe-n7D0hUxx1w3esVKcu1UObXU823xXP3taJqtr5qDMDjHsoSY6o">{% trans "here" %}</a>.
    </p>
  </div>
{% endblock %}
