<!DOCTYPE html>
{% extends 'common.html' %}
{% block page_content %}
{% load static%}
{% load i18n %}
{% get_current_language as L %}

      <h1>{% trans "ADOPTIONS" %}</h1>
      <hr>

      {% with location="Adoptions" %}   
      {% include "subtemplates/noticeboard.html" %}     
    {% endwith %}

    {% for adoption in dataAdoptions %} 
      {% if adoption.fields.status == "Adopted" %}
      <div class="parent">
        {% if L == "bg" %}
        <h2>{{adoption.fields.name_bg}}</h2>
        {% else %}
        <h2>{{adoption.fields.name_eng}}</h2>
      {% endif %}

      {% if L == "bg" %}
      <h3>{{adoption.fields.adoption_country_bg}}</h3>
      {% else %}
      <h3>{{adoption.fields.adoption_country_eng}}</h3>
    {% endif %}


        <div class="child">
          <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{adoption.fields.profile_pic}}" />
        </div>
        
        {% if adoption.fields.adoption_pic_after_1 %}
        <div class="child">
          <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{adoption.fields.adoption_pic_after_1}}" />
        </div>
        {% endif %}
        {% if adoption.fields.adoption_pic_after_2 %}
        <div class="child">
          <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{adoption.fields.adoption_pic_after_2}}" />
        </div>
        {% endif %}
        {% if adoption.fields.adoption_pic_after_3 %}
        <div class="child">
          <img id="sizingAdoptions" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{adoption.fields.adoption_pic_after_3}}" />
        </div>
        {% endif %}
        <br>
        <br>
        <div>
          {% if L == "bg" %}
          <p>{{adoption.fields.story_bg}}</p>
          {% else %}
          <p>{{adoption.fields.story_eng}}</p>
        {% endif %}
        </div>
      </div>
      <hr>
      {% endif %}
    {% endfor %}

   
{% endblock %}


