<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as L %}

<html lang="{{L}}">
  <head>
    {% include "common_sub/head.html" %}
  </head>
  <body>    
    {% include "common_sub/language_change.html" %}

    {% include "common_sub/navbar.html" %}

    <div class="innerbody">
    {% block page_content %}
      {% comment %} Templates get rendered here {% endcomment %}
    {% endblock %}

    <section >
    {% comment %} {% include "common_sub/footer_info_boxes.html" %}{% endcomment %}
    {% include "common_sub/footer_image.html" %}
    </section>

    </div>
      <script src="{% static 'js/active_nav.js' %}"></script>
  </body>