<!DOCTYPE html>
{% extends 'body.html' %}
{% load i18n %}
{% load field_loop %}
{% get_current_language as L %}
{% block page_content %}
{% load static %}

{% with location="Infirmary" %}
  <section class="page">
  {% include "subtemplates/noticeboard.html" %}
  </section>
  <section class="page">
  {% include "subtemplates/container.html" %}   
  </section>
{% endwith %}

<section class="page">
{% for instance in data_dogs %}
{% if instance.story_eng %}
  <div class="flex">
    <div class="flex-box-3">
    <h2>
      {% if L == "bg" %}
        {{ instance.name_bg }}
      {% else %}
        {{ instance.name_eng }}
      {% endif %}
    </h2>
    <p class="compressed-text">
      {% if L == "bg" %}
        {{ instance.story_bg }}
      {% else %}
        {{ instance.story_eng }}
      {% endif %}
    </p>
    </div>
    <div class="flex-box-2">
      <img 
           decoding="async"
           lazy-sizes="auto"
           loading="lazy"
           src="{{ instance.profile_pic }}"/>
    </div>
    {% if instance.pic_2 %}
      <div class="flex-box-2">
        <img 
             decoding="async"
             lazy-sizes="auto"
             loading="lazy"
             src="{{ instance.pic_2 }}"/>
      </div>
    {% endif %}
    {% if instance.pic_3 %}
      <div class="flex-box-2">
        <img 
             decoding="async"
             lazy-sizes="auto"
             loading="lazy"
             src="{{ instance.pic_3 }}"/>
      </div>
    {% endif %}
  </div>
{% endif %}
{% endfor %}
</section>

{% endblock %}
