<!DOCTYPE html>
{% extends 'common.html' %}
{% load i18n %}
{% load field_loop %}
{% get_current_language as L %}
{% block page_content %}
{% load static %}

{% with location="Infirmary" %}
  {% include "subtemplates/noticeboard.html" %}
  {% include "subtemplates/container.html" %}   
{% endwith %}

{% for instance in data_dogs %}
{% if instance.story_eng %}
  <div class="parent">
    <h2>
      {% if L == "bg" %}
        {{ instance.name_bg }}
      {% else %}
        {{ instance.name_eng }}
      {% endif %}
    </h2>
    <p class="compressed-text">
      {% if L == "bg" %}
        {{ instance.story_bg }}
      {% else %}
        {{ instance.story_eng }}
      {% endif %}
    </p>
    <hr style="max-width:800px;">
    <div class="child">
      <img class="main-container-img"
           decoding="async"
           lazy-sizes="auto"
           loading="lazy"
           src="{{ instance.profile_pic }}"/>
    </div>
    {% if instance.pic_2 %}
      <div class="child">
        <img class="main-container-img"
             decoding="async"
             lazy-sizes="auto"
             loading="lazy"
             src="{{ instance.pic_2 }}"/>
      </div>
    {% endif %}
    {% if instance.pic_3 %}
      <div class="child">
        <img class="main-container-img"
             decoding="async"
             lazy-sizes="auto"
             loading="lazy"
             src="{{ instance.pic_3 }}"/>
      </div>
    {% endif %}
  </div>
{% endif %}
{% endfor %}

{% endblock %}
