<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as L %}

<html lang="{{L}}">
  <head>
    {% include "subtemplates/head.html" %}
  </head>
  <body>
    

    {% include "subtemplates/navbar.html" %}

    <!-- Language Button -->
    <div id="languageFormContainer" style="text-align: right;">
      <form id="languageForm" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{ request.path }}">
        <label for="bg">
          <button style="padding:0px; border: none; margin:0px; background-color:#fff;" type="submit" name="language" value="bg" id="bg">
            <img style="width: 25px; height: 25px; margin-right: 5px; margin-left: 5px;" src="{% static "\images\bulgarian-flag.png" %}" alt="Bulgarian flag">
          </button>
        </label>
        <label for="en">
          <button style="padding:0px; border: none; margin:0px; background-color:#fff;" type="submit" name="language" value="en" id="en">
            <img style="width: 25px; height: 25px; margin-right: 5px; margin-left: 5px;" src="{% static "\images\uk-flag.png" %}" alt="UK flag">
          </button>
        </label>
      </form>
    </div>
  
    <div class="innerbody">
      <br>
    {% block page_content %}
      {% comment %} Content {% endcomment %}
    {% endblock %}
    </div>
  
    
    <div style="padding:5px; width:auto; height:auto;text-align:center;">
      <h6 style="text-align:center;">
        <a  id="hyperlink"  href="https://www.facebook.com/groups/2508791972666990/">{% trans "Follow us on Facebook for up to date information!" %}</a> 
      </h6>
    </div>
    <hr>
    {% comment%} SECURITY {% endcomment %}
    <div id="subscribeFormContainer">
      <h6>{% trans "And don't forget to subscribe to our Monthly Newsletter" %}</h6>
      <form id="footerSubscribeForm" action="" method="POST">
        {% csrf_token %}
        {{ subscribeForm.as_p }}
        <button type="submit">{% trans "Subscribe" %}</button>
      </form>
    </div>
    <hr>
    <img id="footerImg" src="https://res.cloudinary.com/dxwb5ejff/image/upload/v1671329488/Static/DogItems_se8ey3.png
      " style="background-color: transparent;" crossorigin="anonymous"/>
    <script src="{% static 'js/activeNav.js' %}"></script>
  </body>