<!DOCTYPE html>
{% extends 'body.html' %}
{% block page_content %}
{% load i18n %}
{% load field_loop %}
{% get_current_language as L %}
<!-- -->

{% with location="Contacts" %}
  {% include "subtemplates/noticeboard.html" %}
{% endwith %}

<div class="contact-form">
  <div class="info-box">
      <h2>{% trans "Get in touch" %}</h2>
      <ul>
          <li> <h3>{% trans "EMAIL" %}</h3></li>
          <li> <p>DonaDogsFoundation@gmail.com </p></li>
          <li> <h3>{% trans "ADDRESS" %}</h3></li>
          <li> <p>{% trans "Stambolyski, 4210, Vasil Levski 40" %} </p></li>
      </ul>
  </div>
  <div class="input-box">
      <h1>{% trans "Message us now" %}</h1>
      <form method="post">
        {% csrf_token %}
        <div class="form-input-content">

          <div class="form-input-fields">
            <div>
              <input type="text" name="name" id="id_name" placeholder={% trans "NAME" %}>
            </div>
            <div>
              <input type="email" name="email" id="id_email" placeholder={% trans "EMAIL" %}>
            </div>
            <div>
                <input type="text" name="subject" id="id_subject" placeholder={% trans "SUBJECT"%}>
            </div>
            <div>
                <textarea name="message" id="id_message" placeholder={% trans "MESSAGE" %}></textarea>
            </div>
          </div>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h3>{{ message|upper }}</h3></li>
              {% endfor %}
          </ul>
          {% endif %}
          <div class="captcha-button">
            <button class="button" type="submit"><h3>{% trans "SEND" %}</h3></button>
            {{ form.captcha }}
          </div>
        </div>
      </form>
  </div>
</div>


{% endblock %}
