<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load i18n %}
{% load truncatetext %}
{% get_current_language as L %}
{% block page_content %}

  {% with location="Gallery" %}
    {% include "subtemplates/noticeboard.html" %}
    {% include "subtemplates/mainContainer.html" %}
  {% endwith %}
  
  {% include "subtemplates/dogGalleryForms.html" %}
  
  <div class="wrapper" id="dogList">
    {% for instance in data_dogs %}
      {% if instance.fields.status == "Active" %}
        <div id="Dog"
             class="panel, thumbnail, popup"
             vaName="{{ instance.fields.va_name_eng }}"
             gender="{{ instance.fields.gender }}"
             pk="{{ instance.pk }}">
          <h1>
            {% if L == "bg" %}
              {{ instance.fields.name_bg }}
            {% else %}
              {{ instance.fields.name_eng }}
            {% endif %}
          </h1>

          <img id="sizingGallery"
               decoding="async"
               lazy-sizes="auto"
               loading="lazy"
               src="{{ instance.fields.profile_pic }}"/>  
          {% if instance.fields.va_name_eng %}
            <div class="virtual-adopter-block">
              {% trans "Virtually Adopted" %}
              <br>
              {% if L == "bg" %}
                {{ instance.fields.va_name_bg }}
              {% else %}
                {{ instance.fields.va_name_eng }}
              {% endif %}
            </div>
          {% endif %}
          <p>
            {% if L == "bg" %}
              {{ instance.fields.story_bg|safe|truncatetext:130 }}
            {% else %}
              {{ instance.fields.story_eng|safe|truncatetext:130 }}
            {% endif %}
          </p>  
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <script src="{% static 'js/dog_album_redirect.js' %}"></script>
  <script src="{% static 'js/gallery_name_search.js' %}"></script>
  <script src="{% static 'js/gallery_other_filters.js' %}"></script>
  <script src="{% static 'js/gallery_redirect.js' %}"></script>
{% endblock %}
