<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load i18n %}
{% load truncatetext %}
{% get_current_language as L %}
{% block page_content %}
  {% with location="AllDogs" %}
    {% include "subtemplates/noticeboard.html" %}
  {% endwith %}
  {% comment %} Change class to hidden below and remove comments on filtersButton above, in JS and CSS to have a button that hides and shows the filters below. {% endcomment %}
  
  <div id="filtersContainer" class="display">
    <div id="formsBar">
      <div class="form-group">
        <form action="javascript:void(0)">
          {% csrf_token %}
          {{ nameFilterForm }}
          {% comment %} <button id="showAllButton" type="button" style="display: none;" onclick="showAllDogs();">All</button> {% endcomment %}
        </form>
      </div>
      <div class="form-group">
        <form action="" method="post">
          {% csrf_token %}
          {{ vaStatusForm  }}
        </form>
      </div>
      <div class="form-group">
        <form action="" method="post" >
          {% csrf_token %}
          {{ genderFilterForm  }}
        </form>
      </div>
    </div>
  </div>

  <div class="wrapper">
    {% for instance in dataDogs %}
      {% if instance.fields.status == "Active" %}
        <div id="Dog"
             class="panel, thumbnail, popup"
             vaName="{{ instance.fields.va_name_eng }}"
             gender="{{ instance.fields.gender }}"
             pk="{{ instance.pk }}">
          <h1>
            {% if L == "bg" %}
              {{ instance.fields.name_bg }}
            {% else %}
              {{ instance.fields.name_eng }}
            {% endif %}
          </h1>

          <img id="sizingGallery"
               decoding="async"
               lazy-sizes="auto"
               class="roundDogImage"
               loading="lazy"
               src="{{ instance.fields.profile_pic }}"/>  
          {% if instance.fields.va_name_eng %}
            <div class="virtual-adopter-block">
              {% trans "Virtually Adopted" %}
              <br>
              {% if L == "bg" %}
                {{ instance.fields.va_name_bg }}
              {% else %}
                {{ instance.fields.va_name_eng }}
              {% endif %}
            </div>
          {% endif %}
          <p>
            {% if L == "bg" %}
              {{ instance.fields.story_bg|safe|truncatetext:130 }}
            {% else %}
              {{ instance.fields.story_eng|safe|truncatetext:130 }}
            {% endif %}
          </p>  
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <script src="{% static 'js/dog_album_redirect.js' %}"></script>
  <script src="{% static 'js/gallery_name_search.js' %}"></script>
  <script src="{% static 'js/gallery_other_filters.js' %}"></script>
{% endblock %}
