<!DOCTYPE html>
{% extends "body.html" %}
{% load static %}
{% load i18n %}
{% load field_loop %}
{% load get_attribute %}
{% get_current_language as L %}
{% block page_content %}

    <div class="flex">
        <div class="flex-box-3">
            {% if L == "bg" %}
            <h2>{{ dog.name_bg }}</h2>
        {% else %}
            <h2>{{ dog.name_eng }}</h2>
        {% endif %}
        <p>
            {% if L == "bg" %}
                {{ dog.story_bg }}
            {% else %}
                {{ dog.story_eng }}
            {% endif %}
        </p>
        {% include "dogProfile_sub/thanks_message.html" %}
        </div>
    
    {% if dog.adoption_pic_after_1 %}
        <h2>{% trans "Before adoption" %}</h2>
    {% endif %}
    <br>
    <div class="flex-box-2">
        {% if dog.profile_pic %}
            <img class="image-dog-album"
                 src="{{ dog.profile_pic }}"
                 alt="dog profile pic">
        {% endif %}
    </div>

        {% for field_name in dog_pic_fields %}
            {% with field=dog|getattribute:field_name %}
                {% if field %}
                <div class="flex-box-2">

                    <img class="image-dog-album"
                        src="{{ field }}"
                        alt="dog pic">
                </div>
                {% endif %}
            {% endwith %}
        {% endfor %}
        <div class="flex-box-1">
            <p style="text-align: center;">
                {% trans "To inquire about adoptions you can contact us on DonaDogsFoundation@gmail.com or directly on our Facebook group." %}
            </p>
           </div>
    </div>
    </div>
    <br>
    <br>
    {% if dog.adoption_pic_after_1 %}
        <h2>{% trans "After adoption" %}</h2>
        <br>
        <div class="image-container-dog-album">
            {% for field_name in adoption_pic_fields %}
               {% with field=dog|getattribute:field_name %}
                   {% if field %}
                       <img class="image-dog-album"
                           src="{{ field }}"
                           alt="dog pic">
                   {% endif %}
               {% endwith %}
           {% endfor %} 
       </div>      
       <br>
    {% endif %}

    <div style="display: flex; justify-content: space-evenly;">
        <div class="button arrow" id="prev-dog-button">
            <span class="arrow-left">&#9664;</span>
        </div>
        <div class="button arrow" id="next-dog-button">
            <span class="arrow-right">&#9654;</span>
        </div>
      </div>
    <br>
    <br>
    <button onclick="location.href='{% url 'all_dogs' %}'" class="button" id="show-all-dogs-btn">
        <h3> &#8594; {% trans "SEE ALL OF OUR DOGS HERE" %}</h3>
      </button>
    <br>
    <br>

    <script src="{% static 'js/gallery_redirect.js' %}"></script>

    <script>
        const activeDogIds = {{ active_dog_ids|safe }};
    </script>
    
    <script src="{% static 'js/next_dog.js' %}"></script>

{% endblock %}
