<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load i18n %}
{% load field_loop %}
{% load get_attribute %}
{% get_current_language as L %}
{% block page_content %}

    {% if L == "bg" %}
        <h1>{{ dog.name_bg }}</h1>
    {% else %}
        <h1>{{ dog.name_eng }}</h1>
    {% endif %}
    <div class="story-container-dog-album">
        <p class="compressedText">
            {% if L == "bg" %}
                {{ dog.story_bg }}
            {% else %}
                {{ dog.story_eng }}
            {% endif %}
        </p>
        {% if dog.va_name_eng %}
            {% if L == "bg" %}
                <p class="compressedText">
                    Благодарим на <b>{{ dog.va_name_bg }}</b>, че се грижи за {{ dog.name_bg }} като виртуален осиновител.
                </p>
            {% else %}
                <p class="compressedText">
                    We thank <b>{{ dog.va_name_eng }}</b> for taking care of {{ dog.name_eng }} as a virtual adopter.
                </p>
            {% endif %}
        {% endif %}
    </div>
    {% if dog.adoption_pic_after_1 %}
        <h2>{% trans "Before adoption" %}</h2>
    {% endif %}
    <br>
    <div class="image-container-dog-album">
        {% if dog.profile_pic %}
            <img class="image-dog-album"
                 src="{{ dog.profile_pic }}"
                 alt="dog profile pic">
        {% endif %}
          
        {% for field_name in dog_pic_fields %}
            {% with field=dog|getattribute:field_name %}
                {% if field %}
                    <img class="image-dog-album"
                        src="{{ field }}"
                        alt="dog pic">
                {% endif %}
            {% endwith %}
        {% endfor %}
    
    </div>
    <br>
    <br>
    {% if dog.adoption_pic_after_1 %}
        <h2>{% trans "After adoption" %}</h2>
        <br>
    {% else %}
        <p style="text-align: center;">
            {% trans "Help us fill this gallery with happy ever after photos. Adopt " %}    
            {% if L == "bg" %}
                {{ dog.name_bg }}
            {% else %}
                {{ dog.name_eng }}
            {% endif %} 
            !!!
        </p>
        <p style="text-align: center;">
            {% trans "To inquire about adoptions you can contact us on DonaDogsFoundation@gmail.com or directly on our Facebook group." %}
        </p>
    {% endif %}
    <div class="image-container-dog-album">
         {% for field_name in adoption_pic_fields %}
            {% with field=dog|getattribute:field_name %}
                {% if field %}
                    <img class="image-dog-album"
                        src="{{ field }}"
                        alt="dog pic">
                {% endif %}
            {% endwith %}
        {% endfor %} 
    </div>      
    <br>
    <div class="parent" id="showAllDogs">
        <h2>{% trans "ALL DOGS" %}</h2>
    </div>
    <br>
    <script src="{% static 'js/gallery_redirect.js' %}"></script>

{% endblock %}
