<!DOCTYPE html>
{% extends "body.html" %}
{% load static %}
{% load field_loop %}
{% load get_attribute %}
{% load i18n %}
{% get_current_language as L %}
{% block page_content %}

  <div class="generic-container" style="text-align: center;">

    <h2>{% trans "WE THANK YOU ALL FOR SUPPORTING US" %}</h2>
    <h4>{{ date|date:"F, Y" }}</h4>
    <br>
    {% for donation in donation_names %}
      <div style="display: inline-block">
        <h4 style="padding:5px">
          {% if L == "bg" %}
            {{ donation.person_name_bg }}
          {% else %}
            {{ donation.person_name_eng }}
          {% endif %}
        </h4>
      </div>
    {% endfor %}
    <br>
  </div>
  {% for donation in donations %}
    {% if L == "bg" %}
      <h2>{{ donation.title_bg }}</h2>
      <p class="compressed-text">{{ donation.donation_text_bg }}</p>
    {% else %}
      <h2>{{ donation.title_eng }}</h2>
      <p class="compressed-text">{{ donation.donation_text_eng }}</p>
    {% endif %}
    <div class="image-container-dog-album">

      {% for field_name in donation_pic_fields %}
      {% with field=donation|getattribute:field_name %}
          {% if field %}
              <img class="image-dog-album"
                  decoding="async"
                  lazy-sizes="auto"
                  loading="lazy"
                  src="{{ field }}"/>
          {% endif %}
      {% endwith %}
  {% endfor %}    

    </div>
    <br>
    <br>

  {% endfor %}

  
  <div style="display: flex; justify-content: space-evenly;">
    <div class="button arrow" id="prev-month-button">
        <span class="arrow-left">&#9664;</span>
    </div>
    <div class="button arrow" id="next-month-button">
        <span class="arrow-right">&#9654;</span>
    </div>
  </div>
  
<br>
  <script src="{% static 'js/next_month_donation.js' %}"></script>

{% endblock %}
