<!DOCTYPE html>


{% extends 'common.html' %}
{% load i18n %}
{% get_current_language as L %}
{% block page_content %}
  <!-- Edit Expense Form -->
      <h1>{% trans "HELP DONADOGS" %}</h1>
    <hr>



    {% for instance in dataDonations %}
   
      <div style="display: inline-block">
        <h6>
          {% if L == "bg" %}
            {{instance.fields.date}} 
          {% else %}
            {{instance.fields.date}} 
          {% endif %} 
        </h6>
      </div>
   
    {% endfor %}


    {% with location="Donations" %}   
    {% include "subtemplates/noticeboard.html" %}     
  {% endwith %}

    <div class="parent">
      <h2>{% trans "SPECIAL THANKS TO OUR VIRTUAL ADOPTERS!" %}</h2>

      {% for instance in dataPeople %}
        {% if instance.fields.va_name_eng %}
          <div style="display: inline-block">
            <h6>
              {% if L == "bg" %}
                {{instance.fields.va_name_bg}} 
              {% else %}
                {{instance.fields.va_name_eng}} 
              {% endif %} 
            </h6>
          </div>
        {% endif %}
    {% endfor %}
      <br>
    </div>

    <div class="parent">
      <div>
        <h2>{% trans "VIRTUAL ADOPTION" %}</h2>
      </div>

      

      {% for notice in dataNoticeBoard %} 
        {% if notice.fields.location == "Virtual" %}
        <article>
          <div ><p>
            {% if L == "bg" %}
              {{notice.fields.note_bg}}
            {% else %}
              {{notice.fields.note_eng}}
          {% endif %}</p>
          </div>
        </article>
        {% endif %}
    {% endfor %}
      </div>

    <div class="parent">
      <p>{% trans "To become a virtual adopter, you can set up a recurring payment equivalent to 20 EUR using PayPal or ideally Revolut due to the lack of transaction fees."%}
      {% trans "Make sure to specify the name of the dog you wish to virtually adopt!"%}
    </div>


<hr>
  <div class="parent">
    <h2>{% trans "DONATION METHODS" %}</h2>
    <p>{% trans "We welcome donations using the following methods below or through direct food or shelter deliveries to Bulgaria, Stambolyski, 4210, Vasil Levski 40." %}</p>

    <div align="center" >
      <form action="https://www.paypal.com/donate" method="post" target="_top" align="center" >
      <input id="sizingPayPal" type="image" src="https://pics.paypal.com/00/s/ZmJmYzIxMjItNGVmYS00ODQxLTk5M2QtMTIwY2U3MWQ4ZmQw/file.PNG" border="0" name="submit" position="top" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
      <input type="hidden" name="hosted_button_id" value="CL7UWKW3PY6M4" />
    </form>
    </div>

    <p> IBAN: BG69 IABG 7096 1002 6438 01 
      <br> BIC: IABGBGSF
      <br> International Asset Bank
      <br> DONA DOGS
      <br>
      <br> <b>Revolut: +359 88 4090009</b></p>
  </div>

  <hr>
    {% for instance in dataAbout %} 
    {% if instance.fields.location == "Donations" %}
  <div class="parent">
    
    {% if L == "bg" %}
    <h2>{{instance.fields.section_title_bg}}</h2>
    {% else %}
    <h2>{{instance.fields.section_title_eng}}</h2>
  {% endif %}
  <br>
    <div>
      {% if L == "bg" %}
      <p>{{instance.fields.section_desc_bg}}</p>
      {% else %}
      <p>{{instance.fields.section_desc_eng}}</p>
    {% endif %}
    </div>

    {% if instance.fields.about_pic_1 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_1}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_2 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_2}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_3 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_3}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_4 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_4}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_5 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_5}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_6 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_6}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_7 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_7}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_8 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_8}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_9 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_9}}" /> </div>
    {% endif %}
    {% if instance.fields.about_pic_10 %}
    <div class="child"> <img id="sizingDonations" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.about_pic_10}}"/> </div>
    {% endif %}
  </div>
  <hr>
    {% endif %}
  {% endfor %}


  
  </div>
{% endblock %}
