<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as L %}

{% block page_content %}

      <h1>{% trans "DONATIONS" %} - {{date_pk}}</h1>
      <hr>{{donation.date}}

      <div class="parent" style="text-align: center;  background-color: #cca43b">
            <h2>{% trans "WE THANK YOU ALL FOR SUPPORTING US" %}</h2> 
            <br>
            {% for donation in donation_names %}
                <div style="display: inline-block">
                  <h5 style="padding:5px">
                    {% if L == "bg" %}
                      {{donation.person_name_bg}}
                    {% else %}
                      {{donation.person_name_eng}}
                    {% endif %}
                  </h5>
                </div>
            {% endfor %}
            <br>
          </div>
      

      {% for donation in donations %} 
      {% if L == "bg" %}
            <h2>{{donation.title_bg}}</h2>
            <p>{{donation.donation_text_bg}}</p>
            {% else %}
            <h2>{{donation.title_eng}}</h2>
            <p>{{donation.donation_text_eng}}</p>
      {% endif %}
      <div class="image-container-dog-album">
            {% if donation.donation_pic_1 %}
        <div >
          <img class="image-dog-album" decoding="async" lazy-sizes="auto" loading="lazy" src="{{donation.donation_pic_1}}" />
        </div>
        {% endif %}
        {% if donation.donation_pic_2 %}
        <div >
          <img class="image-dog-album" decoding="async" lazy-sizes="auto" loading="lazy" src="{{donation.donation_pic_2}}" />
        </div>
        {% endif %}
        {% if donation.donation_pic_3 %}
        <div >
          <img class="image-dog-album" decoding="async" lazy-sizes="auto" loading="lazy" src="{{donation.donation_pic_3}}" />
        </div>
        {% endif %}
        {% if donation.donation_pic_4 %}
        <div >
          <img class="image-dog-album" decoding="async" lazy-sizes="auto" loading="lazy" src="{{donation.donation_pic_4}}" />
        </div>
        {% endif %}
        {% if donation.donation_pic_5 %}
        <div>
          <img class="image-dog-album" decoding="async" lazy-sizes="auto" loading="lazy" src="{{donation.donation_pic_5}}" />
        </div>
        {% endif %}
        {% if donation.donation_pic_6 %}
        <div >
          <img class="image-dog-album" decoding="async" lazy-sizes="auto" loading="lazy" src="{{donation.donation_pic_6}}" />
        </div>
      
        {% endif %}
      </div>
      <br>
      <br>
      {% endfor %}


{% endblock %}    