<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load field_loop %}
{% load i18n %}
{% get_current_language as L %}
{% block page_content %}

  <div class="parent" style="text-align: center;">

    <h2>{% trans "WE THANK YOU ALL FOR SUPPORTING US" %}</h2>
    <h4>{{ date|date:"F, Y" }}</h4>
    <br>
    {% for donation in donation_names %}
      <div style="display: inline-block">
        <h5 style="padding:5px">
          {% if L == "bg" %}
            {{ donation.person_name_bg }}
          {% else %}
            {{ donation.person_name_eng }}
          {% endif %}
        </h5>
      </div>
    {% endfor %}
    <br>
  </div>
  {% for donation in donations %}
    {% if L == "bg" %}
      <h2>{{ donation.title_bg }}</h2>
      <p class="compressedText">{{ donation.donation_text_bg }}</p>
    {% else %}
      <h2>{{ donation.title_eng }}</h2>
      <p class="compressedText">{{ donation.donation_text_eng }}</p>
    {% endif %}
    <div class="image-container-dog-album">
      {% for field_name in donation_pic_fields %}
        {% if donation|field_loop:field_name %}
          <div>
            <img class="image-dog-album"
                decoding="async"
                lazy-sizes="auto"
                loading="lazy"
                src="{{ donation|field_loop:field_name }}"
                alt="{{ field_name }}">
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <br>
    <br>
  {% endfor %}

  <div style="display: flex; justify-content: space-evenly;">
    <div class="parent buttonHover" id="prev-month-button">
      <img style="width:50px; height:auto" src="https://res.cloudinary.com/dxwb5ejff/image/upload/v1677024146/Static/arrow_yny4jc.png" alt="Left Arrow" />
    </div>
    <div class="parent buttonHover" id="next-month-button">
      <div>
        <img style="width:50px; height:auto; transform: scale(-1, -1);" src="https://res.cloudinary.com/dxwb5ejff/image/upload/v1677024146/Static/arrow_yny4jc.png" alt="Left Arrow" />
      </div>
    </div>
  </div>
  
<br>
  <script src="{% static 'js/next_month_donation.js' %}"></script>

{% endblock %}
