<!DOCTYPE html>
{% extends 'common.html' %}
{% block page_content %}
  <!-- Edit Expense Form -->
  <div>
    <h1>Virtual Adoption</h1>
  </div>
  <hr>



  {% for notice in dataNoticeBoard %} 
  {% if notice.fields.location == "Virtual" %}
  <article>
    <div ><p>
  {{notice.fields.note_eng}}
    </div></p>
  </article>
  <hr>
  {% endif %}
{% endfor %}

  <div style="text-align:center; ">
    <h2>Special thanks to our virtual adopters!</h2>
  {% for instance in dataPeople %}
    {% if instance.fields.virtual_adopter == "Y" %}
    <p >{{instance.fields.person_name_eng}} &nbsp<p>
      {% endif %}
  {% endfor %}
</div>

{% endblock %}
