<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load i18n %}
{% load truncatetext %}
{% get_current_language as L %}
{% block page_content %}

  {% with location="Home" %}
    {% include "subtemplates/noticeboard.html" %}
  {% endwith %}
  <hr>
  <br>
  <br>

  {% include "home_sub/count.html" %}
  <br>
  <br>
  <br>
  <br>
  <div class="wrapper" id="data_dogs">
    {% for instance in data_dogs %}
      {% include "subtemplates/gallery.html" %}
    {% endfor %}
  </div>
  <br>
  <br>
  <div class="parent button-hover" id="show-all-dogs-btn">
    <h3>{% trans "SEE ALL OF OUR DOGS HERE" %}</h3>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% include "home_sub/random_adoption.html" %}
  <br>
  <br>
   <div class="parent button-hover" id="show-all-adoptions-btn">
      <h3>{% trans "SEE MORE ADOPTIONS HERE" %}</h3>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  {% include "home_sub/slideshow.html" %}
  <br>
  <br>
  <br>
  <br>
  {% with location="Home" %}
    {% include "subtemplates/container.html" %}
  {% endwith %}



  <script src="{% static 'js/donations_slideshow.js' %}"></script>
  <script src="{% static 'js/dog_album_redirect.js' %}"></script>
  <script src="{% static 'js/gallery_redirect.js' %}"></script>
  <script src="{% static 'js/adoptions_redirect.js' %}"></script>

{% endblock %}
