<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load i18n %}
{% load truncatetext %}
{% get_current_language as L %}
{% block page_content %}
  {% comment %} <div id="slideshow">
 {% for donation in donation_stories %}
  <div class="slide">
    <div display="inline-block">
    <p>{{ donation.donation_text_eng }}</p>
    <img style="max-width:300px" src="{{ donation.donation_pic_1}}" alt="image 1">
    </div>
  </div>
  {% endfor %}
  </div> {% endcomment %}
  {% with location="Gallery" %}
    {% include "subtemplates/noticeboard.html" %}
  {% endwith %}
  <h2>{% trans "OUR DOGS" %}</h2>
  <br>
  <p class="compressedText">
    {% trans "We have " %}
    {{ countDogs }}
    {% trans "dogs in the shelter. Last year we helped " %}
    {{ countAdoptedLastYear }}
    {% trans "dogs get adopted in several countries across Europe. You can see more information about this year's adoptions here: " %}
    <a id="hyperlink" href="/adoptions/">{% trans "ADOPTIONS" %}</a>.
  </p>
  <br>
  <p class="compressedText">
    {% trans "Currently there are " %}
    {{ countSick }}
    {% trans "sick dogs receiving intensive treatement at the clinic. Please help us help them so that we can continue to provide treatement for any dog that needs it: " %}
    <a id="hyperlink" href="/clinic/">{% trans "CLINIC" %}</a>.
  </p>

  <div class="wrapper">
    {% for instance in dataDogs %}
      {% if instance.fields.status == "Active" %}
        <div id="Dog"
             class="panel, thumbnail"
             vaName="{{ instance.fields.va_name_eng }}"
             gender="{{ instance.fields.gender }}"
             pk="{{ instance.pk }}">
          <h1>
            {% if L == "bg" %}
              {{ instance.fields.name_bg }}
            {% else %}
              {{ instance.fields.name_eng }}
            {% endif %}
          </h1>
          <img id="sizingGallery"
               decoding="async"
               lazy-sizes="auto"
               class="roundDogImage"
               loading="lazy"
               src="{{ instance.fields.profile_pic }}"/>
               <p>
                {% if L == "bg" %}
                  {{ instance.fields.story_bg|safe|truncatetext:130 }}
                {% else %}
                  {{ instance.fields.story_eng|safe|truncatetext:130 }}
                {% endif %}
              </p>  
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <br>  
  <br>
  <h2>
    {% trans "Last year " %}
    {% if L == "bg" %}
      {{ adoptedPuppy.name_bg }}
    {% else %}
      {{ adoptedPuppy.name_eng }}
    {% endif %}
    {% trans " got adopted in " %}
    {% if L == "bg" %}
      {{ adoptedPuppy.adoption_country_bg }}
    {% else %}
      {{ adoptedPuppy.adoption_country_eng }}
    {% endif %}
  </h2>
  <br>
  <br>
  <div id="adoptedPuppyContainer">
    <div id="adoptedPuppy" style="display: flex">
      <img id="sizingAdoptedPuppy"
           decoding="async"
           lazy-sizes="auto"
           class="roundDogImage"
           loading="lazy"
           src="{{ adoptedPuppy.profile_pic }}"/>
      <img id="sizingAdoptedPuppy"
           decoding="async"
           lazy-sizes="auto"
           class="roundDogImage"
           loading="lazy"
           src="{{ adoptedPuppy.adoption_pic_after_1 }}"/>
    </div>
    <div id="adoptedPuppyText">
      <p class="compressedText">
        {% if L == "bg" %}
          {{ adoptedPuppy.story_bg|safe }}
        {% else %}
          {{ adoptedPuppy.story_eng|safe }}
        {% endif %}
      </p>
    </div>
  </div>
  <br>  
  <br>
  <h2>{% trans "Last month's donations" %}</h2>
  <br>
  {% for donation in donation_stories  %}
    <div id="slides-container">
      <div class="slides-donations fade" style="display: flex">
        {% if donation.donation_pic_1 %}<img id="sizingDonationsSlide" src={{ donation.donation_pic_1 }}>{% endif %}
        {% if donation.donation_pic_2 %}<img id="sizingDonationsSlide" src={{ donation.donation_pic_2 }}>{% endif %}
      </div>
    </div>
  {% endfor %}        
 <p class="compressedText">
      {% trans "You can see more information about last month's donations " %} <a id="hyperlink" href="/donations/history/{{ date_pk }}/">{% trans "here" %}</a>.
  </p> 
  <br>
  <div id="dots-container" style="display: flex; justify-content: center;">
    {% comment %} JS will append dots here {% endcomment %}
  </div>
<br>
<br>

  <div class="parent" id="showAllDogs">
    <div>
      <h2>{% trans "SEE ALL OF OUR DOGS HERE" %}</h2>
    </div>
  </div>

  <div class="parent" id="showAllAdoptions">
    <div>
      <h2>{% trans "SEE MORE ADOPTIONS HERE" %}</h2>
    </div>
  </div>


  <script src="{% static 'js/donations_slideshow.js' %}"></script>
  <script src="{% static 'js/dog_album_redirect.js' %}"></script>
  <script src="{% static 'js/gallery_redirect.js' %}"></script>
  <script src="{% static 'js/adoptions_redirect.js' %}"></script>

{% endblock %}
