<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load i18n %}
{% load truncatetext %}
{% get_current_language as L %}
{% block page_content %}

  {% with location="Home" %}
    {% include "subtemplates/noticeboard.html" %}
  {% endwith %}
  <hr>
  <br>
  <h2>{% trans "OUR DOGS" %}</h2>  

  {% include "subtemplates/homeCount.html" %}

  <div class="wrapper" id="data_dogs">
    {% for instance in data_dogs %}
      {% include "subtemplates/dogGalleryLoop.html" %}
    {% endfor %}
  </div>

  <br>  
  <br>
  {% include "subtemplates/homeRandomAdoption.html" %}
  <br>  
  <br>
  {% include "subtemplates/homeDonationSlideshow.html" %}
  <br>
  <br>

  {% with location="Home" %}
    {% include "subtemplates/mainContainer.html" %}
  {% endwith %}

  <div class="parent button-hover" id="show-all-dogs-btn">
    <div>
      <h2>{% trans "SEE ALL OF OUR DOGS HERE" %}</h2>
    </div>
  </div>

  <div class="parent button-hover" id="show-all-adoptions-btn">
    <div>
      <h2>{% trans "SEE MORE ADOPTIONS HERE" %}</h2>
    </div>
  </div>

  <script src="{% static 'js/donations_slideshow.js' %}"></script>
  <script src="{% static 'js/dog_album_redirect.js' %}"></script>
  <script src="{% static 'js/gallery_redirect.js' %}"></script>
  <script src="{% static 'js/adoptions_redirect.js' %}"></script>

{% endblock %}
