{% extends "common.html" %}

{% block page_content %}
{% load static %}




<div class="wrapper">
 
 <div class="panel, thumbnail"><u><b>Doggo 1</b></u>
    <img src="{% static "\images\Test Dog1.jpg"%}" style="width: 100%"/>
   Test some text.Test some text.Test some text.Test some text.Test some text.Test some text.Test some text.Test some text.Test some text.Test some text.
  </div>
  <div class="panel, thumbnail">Doggo2
    <img src="{% static "\images\Test Dog3.jpg"%}" style="width: 100%"/>
  </div>
  <div class="panel, thumbnail">Doggo 3
    <img src="{% static "\images\Test Dog4.jpg"%}" style="width: 100%"/>
  </div>
  <div class="panel, thumbnail">Doggo 1
    <img src="{% static "\images\Test Dog1.jpg"%}" style="width: 100%"/>
  </div>
  <div class="panel, thumbnail">Doggo2
    <img src="{% static "\images\Test Dog2.jpg"%}" style="width: 100%"/>
  </div>
  <div class="panel, thumbnail">Doggo 3
    <img src="https://scontent.flhr2-3.fna.fbcdn.net/v/t39.30808-6/305853401_504356668184415_1811306746339539227_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=rU63CAW1ygMAX-zQsr1&_nc_ht=scontent.flhr2-3.fna&oh=00_AT9t1DJdzPvLFo7DKbdZIbUXjV1Sf7KxZEOA7UZc2aZhlA&oe=6326129F"%}" style="width: 100%"/>
  </div>
   <div class="panel, thumbnail">Doggo 1
    <img src="https://scontent.flhr2-4.fna.fbcdn.net/v/t39.30808-6/301847651_5851756208175931_2027744373251866725_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5cd70e&_nc_ohc=MRawZRQvaNwAX-W_uwP&_nc_ht=scontent.flhr2-4.fna&oh=00_AT-lTzXukRbI5GW-wpYTVTpee-vddJXFKtbtMrj2aKKG5g&oe=63270D00"%}" style="width: 100%"/>
  </div>
  <div class="panel, thumbnail">Doggo2
    <img src="https://scontent.flhr2-4.fna.fbcdn.net/v/t39.30808-6/284867282_498621275424621_6574423737060927145_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=VUSmymFphiAAX-ovfIR&_nc_ht=scontent.flhr2-4.fna&oh=00_AT9LqYQQLWvjeb4me8hOUXVIYodoYii8FLyTFfsGrNjyqg&oe=632587DC"%}" style="width: 100%"/>
  </div>

</div>

{% endblock %}
