<!DOCTYPE html>
{% extends "common.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as L %}

{% block page_content %}
<h1>{% trans "DONADOGS" %}</h1>
<hr>

{% with location="Gallery" %}   
  {% include "subtemplates/noticeboard.html" %}     
{% endwith %}


<h2>{% trans "OUR DOGS" %}</h2>

{% comment %} Change class to hidden below and remove comments on filtersButton above, in JS and CSS to have a button that hides and shows the filters below. {% endcomment %}
<div id="filtersContainer" class="display" >
  <div id="formsBar" >
    <div class="form-group">
      <form  action="javascript:void(0)">
        {% csrf_token %}
        {{ nameFilterForm }}
        {% comment %} <button id="showAllButton" type="button" style="display: none;" onclick="showAllDogs();">All</button> {% endcomment %}
      </form>
    </div>

    <div class="form-group">
      <form action="" method="post">
        {% csrf_token %}
        {{ vaStatusForm  }}
      </form>
    </div>

    <div class="form-group">
      <form action="/subscribe" method="post">
        {% csrf_token %}
        {{ genderFilterForm  }}
      </form>
    </div>
  </div>
</div>




{% comment %}
<form action="javascript:void(0)" method="POST">
  {% csrf_token %}
  {{ contactForm }}
  <button type="submit">Send</button>
</form>

<form action="javascript:void(0)" method="POST">
  {% csrf_token %}
  {{ adoptForm }}
  <button type="submit">Send</button>
</form>
{% endcomment %}


<div class="wrapper" id="dogList">
{% for instance in dataDogs %} 
  {% if instance.fields.status == "Active" %}
    <div id="Dog" class="panel, thumbnail, popup" onmouseover="myFunction1(this)" onmouseout="myFunction2(this)" vaName="{{instance.fields.va_name_eng}}" gender="{{instance.fields.gender}}" pk="{{instance.pk}}">
  
      <h2>
        {% if L == "bg" %}
        {{instance.fields.name_bg}}
        {% else %}
        {{instance.fields.name_eng}}
      {% endif %}
      </h2>

      <p class="popuptext" id="myPopup">
        {% if L == "bg" %}
        {{instance.fields.story_bg}}
        {% else %}
        {{instance.fields.story_eng}}
      {% endif %}
      </p>
      <img  id="sizingGallery" decoding="async" lazy-sizes="auto" class="roundDogImage" loading="lazy" src="{{instance.fields.profile_pic}}" />
      
        {% if instance.fields.va_name_eng %} 
          <div class="virtual-adopter-block" >
              {% trans "Virtually Adopted" %} <br> 
              {% if L == "bg" %}
              {{instance.fields.va_name_bg}}  
              {% else %}
              {{instance.fields.va_name_eng}} 
            {% endif %}
            </div>
        {% endif%}      
    </div>
  {% endif %}

{% endfor %}
  
</div>
<hr>
<h1>{% trans "CLINIC" %}</h1>
<hr>
{% include "subtemplates/subinfirmary.html" %}
<hr>
<h1>{% trans "HELP DONADOGS" %}</h1>
{% include "subtemplates/subdonations.html" %}

<script src="{% static 'js/popupInfo.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
<script src="{% static 'js/redirectToDogAlbum.js' %}"></script>


{% endblock %}

