<!DOCTYPE html>
{% extends 'common.html' %}
{% block page_content %}
  {% load i18n %}
  {% load field_loop %}
  {% get_current_language as L %}
  <!-- -->

  {% with location="About" %}
    {% include "subtemplates/noticeboard.html" %}
    {% include "subtemplates/mainContainer.html" %}
  {% endwith %}

  <!-- Edit Expense Form -->
  <div>
    <p style="text-align:center">
      {% trans "You can find more information about the organisation's legal status" %}
      <a id="hyperlink"
         href="https://papagal.bg/eik/206978306/9119?fbclid=IwAR0X0vECe-n7D0hUxx1w3esVKcu1UObXU823xXP3taJqtr5qDMDjHsoSY6o">{% trans "here" %}</a>.
    </p>
  </div>
{% endblock %}
