<!DOCTYPE html>
{% extends 'common.html' %}
{% block page_content %}
  {% load i18n %}
  {% load field_loop %}
  {% get_current_language as L %}
  <!-- -->

  {% with location="About" %}
    {% include "subtemplates/noticeboard.html" %}
  {% endwith %}
  {% for instance in dataAbout %}
    {% if instance.fields.location == "About" %}
      <div class="parent">
        {% if L == "bg" %}
          <h1>{{ instance.fields.section_title_bg }}</h1>
        {% else %}
          <h1>{{ instance.fields.section_title_eng }}</h1>
        {% endif %}
        {% if L == "bg" %}
          <div>
            <p class="pAdjustment">{{ instance.fields.section_desc_bg|safe }}</p>
          </div>
        {% else %}
          <div>
            <p class="pAdjustment">{{ instance.fields.section_desc_eng|safe }}</p>
          </div>
        {% endif %}
        {% for field_name in about_pic_fields %}
          {% if instance.fields|field_loop:field_name %}
            <div class="child">
              <img id="sizingAdoptions"
                  decoding="async"
                  lazy-sizes="auto"
                  loading="lazy"
                  src="{{ instance.fields|field_loop:field_name }}"/>
            </div>
          {% endif %}
        {% endfor %}

      </div>
      <hr>
    {% endif %}
  {% endfor %}
  <!-- Edit Expense Form -->
  <div>
    <p style="text-align:center">
      {% trans "You can find more information about the organisation's legal status" %}
      <a id="hyperlink"
         href="https://papagal.bg/eik/206978306/9119?fbclid=IwAR0X0vECe-n7D0hUxx1w3esVKcu1UObXU823xXP3taJqtr5qDMDjHsoSY6o">{% trans "here" %}</a>.
    </p>
  </div>
{% endblock %}
