
{% block page_content %}
<div>
    <div id="forms-bar">
      <div>
        <form action="javascript:void(0)">
          {% csrf_token %}
          {{ name_filter_form }}
        </form>
      </div>
      <div class="form-dropdown-group">
        <form action="" method="post">
          {% csrf_token %}
          {{ va_status_form  }}
        </form>
        <form action="" method="post" >
          {% csrf_token %}
          {{ gender_filter_form  }}
        </form>
    </div>
    </div>
  </div>
  {% endblock %}