:root {
    --main-theme:   #e93a6b;
    --main-theme-2: #b99100;
    --main-theme-3: #f63131;
    --nice-blue: #107AB0;
    --container: ghostwhite;
    --titles: #4f4f4f;
    --para-color: #4f4f4f;
    --generic: ghostwhite;
}