
    #footerContainer {
        display: flex;
    }

    .box1,
    .box2,
    .box3 {
        width: 33.333%;
        text-align: center;
    }

    .subscribe-form-hide {
        display: none;
        transition: all 0.5s ease-in-out;
    }

    .hide-donations-box {
        display: none;
        transition: all 0.5s ease-in-out;
    }

    .hide-donations-box .d {
        /* width: 33.333%; */
        width: 50%;
    }

    @media only screen and (max-width: 600px) {
        .hide-donations-box .d
        {
            display: block;
        }
    }


    @media only screen and (max-width: 600px) {
        .hide-donations-box .d
        {
            width: 90%;
        }
    }

    .hideVA {
        display: none;
        transition: all 0.5s ease-in-out;
    }

    