/* #filtersContainer {
  
}

#filtersButton{
  margin-left: 25px;
  margin-bottom: 10px;
  padding:5px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
}

button:hover {
  background-color: rgb(200, 200, 200);
} */

#formsBar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 5px;
  margin-left: 25px;
  margin-right:25px;
  background-color: #f2f2f2;
  color: rgb(10, 10, 46);
  text-align: left;
}

@media only screen and (max-width: 1300px) {
  #formsBar {
      display: none;
  }
}

.hidden {
  display: none;
}

#formsBar {
  transition: height 0.5s ease;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px 0;
}

.form-group:first-child {
  justify-self: start;
}

.form-group:nth-child(n+2) {
  justify-self: end;
}


.form-col {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 14px;
  color: rgb(10, 10, 46);
  margin-bottom: 6px;
}

.form-group input,
.form-group select {
  width: 150px;
  padding: 6px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.form-group label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.form-group button {
  margin-left: 10px;
  font-size: 14px;
  background-color: #6b6b6b;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 4px;  
  cursor: pointer;
}



.form-group button:hover {
  background-color: rgb(49, 49, 49);
}
