@media only screen and (max-width: 800px) {
    #banner {
        display: none;
    }
}

/* image resizing */
.gallery-size-img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 1111px) {
    .gallery-size-img {
        width: 100%;
        height: auto;
    }
}

.main-container-img {
    width: 500px;
    height: auto;

}

@media only screen and (max-width: 1200px) {
    .main-container-img {
        width: 400px;
        height: auto;
    }
}


@media only screen and (max-width: 600px) {
    .main-container-img {
        width: 100%;
    }
}


/* #sizingPayPal {
    width: 250px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #sizingPayPal {
        max-width: 200px;
    }
} */

.noticeboard-size-img-one {
    /* max-width: 450px; */
    width: 50%;
    height: auto;
    float: left;
    padding: 25px;
    padding-top: 15px;
    padding-right:30px;
}

@media only screen and (max-width: 600px) {
    .noticeboard-size-img-one {
        width: 100vw;
        margin:0px;
        margin-bottom:20px;
        padding: 0px;
    }
}

.noticeboard-size-img-two {
    /* max-width: 450px; */
    width: 50%;
    height: auto;
    float: left;
    padding: 25px;
    padding-top: 15px;
    padding-left:0px;
    padding-right:30px;
}

@media only screen and (max-width: 600px) {
    .noticeboard-size-img-two {
        display: none;
        width: 100vw;
        margin:0px;
        margin-bottom:20px;
        padding: 0px;
    }
}

.home-donations-size-img {
    width: 50%;
    padding: 25px;
}

@media only screen and (max-width: 600px) {
    .home-donations-size-img {
        padding: 0px;
    }
}

.home-adopted-puppy-size-img {
    width: 50%;
    padding: 25px;
}

@media only screen and (max-width: 600px) {
    .home-adopted-puppy-size-img {
        padding: 0px;
    }
}
.flex-box-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-box-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}