/* navbar */
#nav-container{
    position:sticky;
    position: -webkit-sticky;
    top:0;
    height: 80px; /* Adjust the height of the container as needed */
    z-index: 1;
}
nav {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    border: 0px solid #e7e7e7;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    padding-top:1rem;
}

@media only screen and (max-width: 1111px) {
    nav {
        display: flex;
        height: auto;
    }
}

nav li {
    width: 25%;
    height:100%;
}

@media only screen and (max-width: 1111px) {
    nav li {
        padding: 1px
    }
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: 5px solid #00000000;
}

@media only screen and (max-width: 1111px) {
    nav li a {
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 0;
        padding-right: 0;
        margin: 2px;
    }
}

nav li a h1 {
    padding: 20px 0px 20px 0px;

}


@media only screen and (max-width: 1111px) {
    nav li a h1 {
        padding: 5px 0px 5px 0px;
    }
}

@media only screen and (max-width: 500px) {
    nav li a h1 {
        padding: 1px 0px 1px 0px;
        margin: 1px;
        margin-top: 13px;
    }
}

nav li:hover:not(.active) {
    border-bottom: 5px solid var(--main-theme);

}

/* to prevent the bottom bar from displacing space when hovering over */
nav li {
    border-bottom: 5px solid rgba(255, 137, 20, 0);

}

nav li:hover h1{
    color: var(--main-theme);
}

nav li.active {
    border-bottom: 5px solid var(--main-theme);
}

nav li.active h1 {
    color:var(--main-theme);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

#nav-logo{
    max-width: 100%;
    max-height: 50px;
    object-fit: contain;
}