

/* navbar */
nav {
    display: flex;
    font-size: 26px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0px solid #e7e7e7;
    background-color: #f2f2f2;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

@media only screen and (max-width: 1111px) {
    nav {
        display: flex;
        font-size: 3.5vw;

    }
}

nav li a img{
    width: 20%;
    height:100%;
    width: 200px; 
    padding:10px;
}
@media only screen and (max-width: 1111px) {
    nav li a img {
        width: 120px;
        padding: 2px;
        
    }
}
@media only screen and (max-width: 500px) {
    nav li a img {
        width: 85px;
        padding: 1px;
        
    }
}
nav li {
    width: 25%;
    padding: 0px;
}

@media only screen and (max-width: 1111px) {
    nav li {
        padding:1px
    }
}

nav li a {
    display: block;
    color: #666;
    text-align: center;
    text-decoration: none;
    border-bottom: 5px solid #00000000;
}

@media only screen and (max-width: 1111px) {
    nav li a {
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 0;
        padding-right: 0;
        margin: 2px;
        font-size: 16px;
      
    }
}

nav li a h1 {
    padding: 20px 0px 20px 0px;

}

@media only screen and (max-width: 1600px) {
    nav li a h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1350px) {
    nav li a h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1111px) {
    nav li a h1 {
        padding: 5px 0px 5px 0px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 500px) {
    nav li a h1 {
        padding: 1px 0px 1px 0px;
        font-size: 3.2vw;
        margin:1px;
        margin-top:13px;
    }
}

nav li:hover:not(.active) {
    background-color: #ddd;
    border-bottom: 5px solid #000000;
}
/* to prevent the bottom bar from displacing space when hovering over */
nav li {
    border-bottom: 5px solid #00000000;
}

nav li.active {
    border-bottom: 5px solid #000000;
}



/* Navbar End */



/* @media only screen and (max-width: 600px) {
    .nav-dropdown {
      display: none;
    }
    .nav-toggle {
      display: block;
    }
    nav > li:not(:first-child) {
        display: none;
      }
  }
  
@media only screen and (min-width: 601px) {
.nav-dropdown {
    display: block;
}
.nav-toggle {
    display: none;
}
} */